body{
	background-image: url('/blog/images/blog/sjbg.jpeg');
}
@media screen and (min-width: 600px) {
    body {
        background-image: url('/blog/images/blog/bg.jpg');
    }
}
#reward-btn{
	display: none;
}